/* cart.css */
.cart {
  margin: 20px 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cart h1 {
  margin-bottom: 20px;
}

.cartItem {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cartItem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.productDetails {
  flex: 1;
}

.countHandler {
  display: flex;
  align-items: center;
}

.countHandler button {
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
}

.countHandler button:hover {
  background-color: #0056b3;
}

.cartBtn {
  margin-bottom: 10px;
  margin-left: 10px;
}
